option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: JobOptimizedSearchEngine.wsgi:application
  aws:autoscaling:launchtemplate:
    LaunchTemplateId: lt-026699646ba4c9861
    LaunchTemplateVersion: 1

  "aws:elasticbeanstalk:command":
    Timeout: 1000

commands:
  01_replace_web_service:
    command: |
      sed -i "s|ExecStart=/bin/sh -c 'gunicorn --bind 127.0.0.1:8000 --workers=1 --threads=15 JobOptimizedSearchEngine.wsgi:application'|ExecStart=/bin/sh -c 'gunicorn --bind 127.0.0.1:8000 --workers=1 --threads=15 --timeout 6000 JobOptimizedSearchEngine.wsgi:application'|" /etc/systemd/system/web.service
  02_reload_daemon:
    command: "sudo systemctl daemon-reload"
  03_restart_web_service:
    command: "sudo systemctl restart web.service"
